{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
    
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="faculty" placeholder="Faculty" required>
            <input type="text" name="department" placeholder="Department" required>
            <div class="button-row">
                <button type="submit" class="login">Register</button>
                <a href="{% url 'login' %}">
                    <button type="button" class="signup">Back to Login</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>
